.panel {
    width: 600px;
    border: solid #2196f3 2px;

}
.header {
    background-color: #3db4bf;
    color: white;
    padding: 10px;
}
.click {
    background-color: green;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;   
}